{% extends 'navbar.html' %}
{% block navbar %}
<h1 class="center-heading" style="padding-top: 5%;">Mapping Function</h1>
    <div style="text-align: center;">压缩文件夹中的所有文件均为该程序的依赖文件，不可移动或删除，可以设置桌面快捷键</div>
        <div style="padding: 25px 25px 25px 25px;">
        <div class="card-body">
            <div class="mb-3">
                </div>
                <hr />

                <h3>Example of upload files - Click for download</h3>
                <div>
                    <div>Upload files' <b>FIELD</b> and file <b>NAMES</b> must be exactly the same as those in the example's template!!!</div>
                    <div style="padding-bottom: 1%; padding-top: 1%;">
                        {% for name in files %}
                        {% if name.endswith('.xlsx') %}
                        <a href="{{ url_for('default_file', name=name) }}">{{ name }}</a><br />
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <hr />
                <div>
                    <h3>Not Sorted</h3>
                    Please upload Table_A and Table_B <br />
                    This function is to convert "control to criteria" in table B to "criteria to control" in table A.
                </div>
        
                <br />

                <form class="" action="upload" method="POST" enctype="multipart/form-data">
                    <input type="file" id="file" name="file">
                    <button>Upload</button>
                    <div style="padding-top: 1%; padding-bottom: 1%;">
                    Uploaded file(s):
                    {% if not_sorted %}
                        {% for filename in not_sorted %}
                        <a href="{{ url_for('upload_files', upload_name=filename) }}">{{ filename }}</a><br /> 
                        {% endfor %}
                    {% endif %}
                    </div>
                </form>

                <hr />
                <div>
                    <h3>Sorted</h3>
                    Please upload Table_A and Table_B <br />
                    This function is to convert "control to criteria" in table B to "criteria to control" in table A and sort the "Criteria" of the output.
                </div>
                <br /> 
                <form class="" action="sort" method="POST" enctype="multipart/form-data">
                    <input type="file" id="file" name="file">
                    <button>Upload</button>
                    <div style="padding-top: 1%; padding-bottom: 1%;">
                        Uploaded file(s):
                        {% if sorted %}
                            {% for filename in sorted %}
                            <a href="{{ url_for('upload_files', upload_name=filename) }}">{{ filename }}</a><br /> 
                            {% endfor %}
                        {% endif %}
                    </div>
                </form>

                <hr />
                <div>
                    <h3>Convert Table B Only - Not Sorted</h3>
                    Please upload Table_B only<br />
                    This function is to convert "control to criteria" in table B to "criteria to control" without the description of Criteria.
                </div>
                <br /> 
                <form class="" action="nodes" method="POST" enctype="multipart/form-data">
                    <input type="file" id="file" name="file">
                    <button>Upload</button>
                    <div style="padding-top: 1%; padding-bottom: 1%;">
                        Uploaded file(s):
                        {% if nodes %}
                            {% for filename in nodes %}
                            <a href="{{ url_for('upload_files', upload_name=filename) }}">{{ filename }}</a><br /> 
                            {% endfor %}
                        {% endif %}
                    </div>
                </form>

                <hr />
                <div>
                    <h3>Convert Table B Only - Sorted</h3>
                    Please upload Table_B only<br />
                    This function is to convert "control to criteria" in table B to "criteria to control" without the description of Criteria and sort the "Criteria" of the output.
                </div>
                <br /> 
                <form class="" action="nodes_sort" method="POST" enctype="multipart/form-data">
                    <input type="file" id="file" name="file">
                    <button>Upload</button>
                    <div style="padding-top: 1%; padding-bottom: 1%;">
                        Uploaded file(s):
                        {% if nodes_sorted %}
                            {% for filename in nodes_sorted %}
                            <a href="{{ url_for('upload_files', upload_name=filename) }}">{{ filename }}</a><br /> 
                            {% endfor %}
                        {% endif %}
                    </div>
                </form>

            </div>
        </div>

        <hr />
    <h1 class="center-heading">Result - Click for download</h1> 
    <div style="text-align: center;">
    {% if download %}
    {% for filename in download %}
    <a href="{{ url_for('download_file', filename=filename) }}">{{ filename }}</a><br />
    {% endfor %}
    {% endif %}
    </div>
    <form action="delete" method="GET" style="text-align: center; padding-bottom: 5%;">
        <br />
        <button>Delete Result History</button>
    </form>
{% endblock %}