{% extends 'navbar.html' %}
{% block navbar %}
	<h1 class="center-heading" style="padding-top: 5%;">Mapping Function</h1>
    <div style="text-align: center;">本程序针对SOC项目的mapping制作</div>
    <div style="text-align: center;">压缩文件夹中的所有文件均为该程序的依赖文件，不可移动或删除，可以设置桌面快捷键</div>
    
    <div style="padding: 25px 25px 25px 25px;">
        <div class="card-body">
            <div class="mb-3">
                <h3>功能介绍</h3>
                <div>
                    1. "Not Sorted"：将Table B中的control to criteria转化为Table A中的criteria to control，且包含标准描述；<br />
                    2. "Sorted"：将Table B中的control to criteria转化为Table A中的criteria to control，且包含标准描述，并对结果排序；<br />
                    3. "Convert Table B Only - Not Sorted"：将Table B中的control to criteria转化为Table A中的criteria to control，不包含标准描述；<br />
                    4. "Convert Table B Only - Sorted"：将Table B中的control to criteria转化为Table A中的criteria to control，不包含标准描述，并对结果排序；<br />
                </div>

                <h3>使用说明</h3>
                <div>
                    1. 点击下方"Example of upload files - Click for download"部分的两个文件进行下载；<br />
                    2. Table_A和Table_B中的字段一定要一模一样，不可修改；<br />
                    3. 不要对文件重命名，若是使用"Not Sorted"或"Sorted"的功能，确保上传的文件名为Table_A和Table_B；<br />
                    4. 若是使用"Convert Table B Only - Not Sorted"或"Convert Table B Only - Sorted"的功能，确保上传的文件名为Table_B；<br />
                    5. 上传的文件会显示至下方的"Uploaded file(s)"中，每个功能上传至最后一个文件时自动删除上传的文件；<br />
                    6. 运行结束后的结果会显示至最下方的"Result - Click for download"中，点击自动下载；<br />
                    7. "Result - Click for download"中的文件会保留所有的输出历史，若需要删除，则点击最下方按钮"Delete Result History"清空所有的历史记录；<br />
                </div>

                <h3 style="color: red;">注意事项</h3>
                <div>
                    1. 保险起见，每个单元格中不要有空白行；<br />
                    2. 检查控制点编号和标准编号，中间不要有多余的空格；<br />
                    3. 由于人工上传的excel文档有出现错误的可能性，比如格式或编号的不准确，该程序<b>不保证</b>完全准确，对于输出的结果进行人工检查；<br />
                    4. 压缩文件夹中的所有文件均为该程序的依赖文件，不可移动或删除，可以设置桌面快捷键；<br />
                    5. 点击左上方的"Home"键返回主页，若在使用过程中发现任何问题，欢迎指正！！！<br />
                    <br />
                        Feel free to reach out if you have any question or comment!<br />
                        Happy Using!
                </div>
            </div>
        </div>
    </div>
{% endblock %}